
<div class="content">
    
        <div class="container">
          <h2 class="my-3 text-center">   Diseños personalizados
        </h2>
        </div>
    
    
        <div class="site-section bg-left-half mb-5">
          <div class="container owl-2-style">
            
            
    
            <div class="owl-carousel owl-2">



                <% products.forEach((producto, index) => { %>
                        <!-- producto  -->
        <div class="media-29101">
                                <% if (producto.stock >= 1 && index <= 4) {
                                        let finalPrice = producto.price - (producto.price * producto.sale / 100);
                                        %>    
                                                <div class="cajas-productosPersonalizados cajas-productosPersonalizadosTotal  flex-colum ">
                                                        <a href="/productos/detalle/<%= producto.id %>">
                                                        <div class="img-producto">
                                                                <img src="/images/productos/<%= producto.image %>" alt="<%= producto.name %>" title="<%= producto.name %>">
                                                        </div> 
                                                        <div class="descripcion ">
                                                                <h3 class="descripciones-productos"><%= producto.name %></h3>
                                                                <p class="precios">$ <%= toThousand(finalPrice.toFixed(0)) %></p>
                                                                <% if(producto.sale > 0) { %>
                                                                        <span class="sale"><%= producto.sale %> % OFF</span>
                                                                        <% } %>
                                                                <i class="fas fa-truck camion"></i>
                                                        </div> 
                                                </a>
                                                        <div class="descripcion2">
                                                                <a href="/productos/detalle/<%= producto.id %>"><button class="btn btn-success btn-md my-0 p mb-2">Ver Producto</button> </a>
                                                                <button class="btn btn-success btn-md my-0 p agregar_carrito"  data-id="<%= producto.id %> " >Agregar al Carrito</button>

                                                        </div>

                                                </div>
                                <% } %>
                </div>
        <%  })%>


            </div>
    
          </div>
        </div>
    
      </div>
        
        
    


