<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>
        <main>
                <!-- seccion 1 (carrusel de imagenes, se termina con js) -->
                <section>
                <!-- carrusel de fotos -->
                <div class="carrusel ">

                </div>
                </section>
                <!-- seccion 2 (carrusel de diseños personalizados, se termina con js) -->
                <section class="carrusel-productosPersonalizados flex-colum ">
                        <div>

                                <%- include('partials/carouselHome.ejs') %>       

                        </div>

                         <a href="/productos" class="flex-row">
                                <span class="todos-productos">Todos los productos</span>
                                <span class="todos-productos2">></span>                                       
                         </a>

                </section>
<%- include('partials/newCollection.ejs') %>     


        </main>
<%- include('partials/footer.ejs') %>
</body>

<%- include('partials/scriptNav.ejs') %>




                                </html>