<%- include('partials/head.ejs') %>
<%- include('partials/headLogin.ejs') %>
<%- include('partials/header.ejs') %>
        <div class="container">
            <div class="central">
                <div class="login">
                    <div class="title">
                        Iniciar Sesion
                    </div>
                    <div class="loginconsult">
                        <% if (locals && locals.mensajesDeError) { %>
                            <div class="erorr">
                                <% mensajesDeError.forEach(error => { %>
                                      <p><%= error.msg %> </p>
                                <% }) %>
                              </div>
                          <% } %>
                        <form action="/user/login" method="POST" >
                                <input type="email" name="email" placeholder="email" >
                                <input type="password" placeholder="Contraseña" name="password" id="password" >
                                <input type="checkbox" name="rememberUser"> Recordar usuario
    
                                <button type="submit" title="Login" name="Ingresar">Login</button>
                        </form>
                        </div>
                    <div class="foot-form">
                        <a href="#">¿Perdiste la contraseña?</a>
                        <a href="/register">¿No tenés cuenta? Registrarse</a>
                    </div>
                </div>
                <div class="bottom">
                        <a href="/"><p style="color:rgb(0, 0, 0);">Volver </p></a>
                </div>
            </div>
        </div>
        
 <%- include('partials/footer.ejs') %>
</body>

<%- include('partials/scriptNav.ejs') %>

</html>