<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>
<main>
       
        <section class="carrusel-productosPersonalizados flex-colum ">
                <% if (products.length >= 1) { %>
                        <div>
                                <h2>Resultado de tu busqueda:  <%= search %> </h2>
                        </div>

                 <% } else { %>
                        <div>
                                <h2>No hay resultados para tu busqueda:  <%= search %> </h2>
                        </div>

                <% } %>
                <div class="contenedor-productos contenedor-productosTotal flex-colum">
                        <% products.forEach((producto, index) => { %>
                                <!-- producto  -->
                <% if (producto.stock >= 1 ) {
                        let finalPrice = producto.price - (producto.price * producto.sale / 100);
                        %>    
                                <div class="cajas-productosPersonalizados cajas-productosPersonalizadosTotal  flex-colum ">
                                        <a href="/productos/detalle/<%= producto.id %>">
                                        <div class="img-producto">
                                                <img src="/images/productos/<%= producto.image %>" alt="<%= producto.name %>" title="<%= producto.name %>">
                                        </div> 
                                        <div class="descripcion">
                                                <h3 class="descripciones-productos"><%= producto.name %></h3>
                                                <p class="precios">$ <%= toThousand(finalPrice.toFixed(0)) %></p>
                                                <% if(producto.sale > 0) { %>
                                                        <span class="sale"><%= producto.sale %> % OFF</span>
                                                        <% } %>
                                                <i class="fas fa-truck camion"></i>
                                        </div> 
                                        </a>
                                </div>
                <% } %>
                <%  })%>

                </div>

        </section>




</main>
<%- include('partials/footer.ejs') %>
</body>

<%- include('partials/scriptNav.ejs') %>
</html>