<%- include('partials/head.ejs') %>
<%- include('partials/headProductAdd.ejs') %>
<%- include('partials/header.ejs') %>
        <main>                                
          <div class="container">
          <div class="central">
              <div class="prod">
                  <div class="title">
                      Editar Producto
                  </div>
                  <div class="regconsult">
                      <form id="regform">
                              <input type="text" name="name" placeholder="Nombre" id="name" required>
                              <input type="text" name="price" placeholder="Precio" id="price" required>
                              <input type="text" name="stock" placeholder="Cantidad en stock" id="stock" required>
                              <div class="categoria">
                                <select class="selectpicker">
                                <option value="0">Seleccione una categoria</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>              
                              </div>
                              <input type="text" name="descript" placeholder="Descripcion" id="descript" required>
                              <label><input type="checkbox" id="cbox1" value="newCollection"> Agregar a "New Collection"?</label><br>
                              <input type="text" name="color" placeholder="Color" id="color" required>
                              <input type="text" name="talles" placeholder="Talles" id="talles" required>
  
                              <button type="submit" title="Guardar Producto" name="guardar">Guardar producto</button>
                      </form>
                    </div>
          
        </div>
      </div>
    </div>
    



<%- include('partials/newCollection.ejs') %>       
      </main>
<%- include('partials/footer.ejs') %>
</body>
<%- include('partials/scriptNav.ejs') %>
</html>