<%- include('partials/head.ejs') %>
<%- include('partials/headProductDeail.ejs') %>
<%- include('partials/header.ejs') %>
               <main>
                <main class="mt-5 pt-4">
                        <div class="container dark-grey-text mt-5">
            
                            <!--Grid row-->
                            <div class="row wow fadeIn">
            
                                <!--Grid column-->
                                <div class="col-md-6 mb-4">
            
                                        <img width="580" src="/images/productos/<%= jean.image %>" alt="<%= jean.name %>" title="<%= jean.name %>">
            
                                </div>
                                <!--Grid column-->
            
                                <!--Grid column-->
                                <div class="col-md-6 mb-4">
            
                                    <!--Content-->
                                    <div class="p-4">
            
                                        <div class="mb-3">
                                          
                                                <span class="badge purple mr-1"><%= categoria.name %></span>
                                          
                                                <% if (jean.newCollection ==1) { %>
                                                        <span class="badge blue mr-1">¡NewCollection!</span>
                                                <% } %>

                                     

                                        </div>
                                                    <% let finalPrice = toThousand((jean.price  - (jean.price * jean.sale / 100)).toFixed(0));%>

                                        <p class="lead mb-2">
                                          <% if (jean.sale >0) { %>
                                            <span class="mr-1 text-secondary">
                                              <del>$<%= jean.price %></del>
                                          </span>
                                          <% } %>

                                            <span class="text-success">$<%= finalPrice %></span>
                                        </p>
                             
                                        <p class="lead font-weight-bold mb-2"><%= jean.name %></p>
            
                                        <p class="mb-2">        <%= jean.description %> </p>
                                        <div class="seccionDetalle">
                                            <div class='listaTalle'>
                                                <select name="talles" id="">
                                                        <option value="">Selecciona el talle</option>

                                                                <% jean.talle.forEach(element => { %>
                                                                        <option value="<%=element.talles  %> "><%= element.talles %> </option>
                                                                        <% }) %>
                                                </select>
       

                                        </div>  
            
                                        <form class="d-flex justify-content-left">
                                            <!-- Default input -->
                        
                                            <button class="btn btn-primary btn-md my-0 p agregar_carrito" data-id="<%= jean.id %> " type="submit">Agregar al Carrito
                                                <i class="fas fa-shopping-cart ml-1"></i>
                                            </button>
            
                                        </form>
                                        <% if (locals.isLogged ) { %>
                                                <div class="del">
                                                        <form action="/productos/<%=jean.id %>?_method=DELETE " method="POST"><button class="btn btn-danger btn-md my-0 p" type="submit" title="delete" name="ELIMINAR PRODUCTO">ELIMINAR PRODUCTO</button></form>
                                                </div>
                                                <div class="del">
                                                        <a href="/productos/editar/<%=jean.id %>"><button class="btn btn-success btn-md my-0 p" type="submit" title="delete" name="ELIMINAR PRODUCTO">EDITAR PRODUCTO</button></a>
                                                </div>
                                        <% } %>
                                </div>
                                    </div>
                                    <!--Content-->
            
                                </div>
                                <!--Grid column-->
            
                            </div>
                            <!--Grid row-->
            
                            <hr>
            
                            <!--Grid row-->
                            <div class="row d-flex justify-content-center wow fadeIn">
            

            
                            </div>
                            <!--Grid row-->
            

            
                        </div>
                    </main>







       
        </main>
   <%-/* include('partials/newCollection.ejs')  */ %>       
<%- include('partials/footer.ejs') %>
</body>
<%- include('partials/scriptNav.ejs') %>

<script>
        function toggleClass(elem,className){
                if (elem.className.indexOf(className) !== -1){
                  elem.className = elem.className.replace(className,'');
                }
                else{
                  elem.className = elem.className.replace(/\s+/g,' ') + 	' ' + className;
                }
              
                return elem;
              }
              
              function toggleDisplay(elem){
                const curDisplayStyle = elem.style.display;			
              
                if (curDisplayStyle === 'none' || curDisplayStyle === ''){
                  elem.style.display = 'block';
                }
                else{
                  elem.style.display = 'none';
                }
              
              }
              
              function toggleMenuDisplay(e){
                const dropdown = e.currentTarget.parentNode;
                const menu = dropdown.querySelector('.menu');
                const icon = dropdown.querySelector('.fa-angle-right');
              
                toggleClass(menu,'hide');
                toggleClass(icon,'rotate-90');
              }
              
              function handleOptionSelected(e){
                toggleClass(e.target.parentNode, 'hide');			
              
                const id = e.target.id;
                const newValue = e.target.textContent + ' ';
                const titleElem = document.querySelector('.listaTalle .title');
                const icon = document.querySelector('.listaTalle .title .fa');
              
              
                titleElem.textContent = newValue;     //cambiar titulo
                titleElem.appendChild(icon);
              
                //eventos personalizados
                document.querySelector('.listaTalle .title').dispatchEvent(new Event('change'));
                  //setTimeout is used so transition is properly shown
                //setTimeout(() => toggleClass(icon,'rotate-90',0));*/
              }
              
              function handleTitleChange(e){
                const result = document.getElementById('result');
                result.innerHTML = 'The result is: ' + e.target.textContent;
              }
              
              //get elements
              const listaTalleTitle = document.querySelector('.listaTalle .title');
              const listaTalleOptions = document.querySelectorAll('.listaTalle .option');
              
              //bind listeners to these elements
              listaTalleTitle.addEventListener('click', toggleMenuDisplay);
              
              listaTalleOptions.forEach(option => option.addEventListener('click',handleOptionSelected));
              
              document.querySelector('.listaTalle').addEventListener('change',handleTitleChange);
                </script>
</html>