<%- include('partials/head.ejs') %>
<%- include('partials/headProductAdd.ejs') %>
<%- include('partials/header.ejs') %>
<div class="contenedorFormulario">
    <div >
      <h2 class="products-title">Formulario de creación de productos</h2>
    </div>
  <div >
    <% if (locals && locals.mensajesDeError) { %>
      <div class="erorr">
          <% mensajesDeError.forEach(error => { %>
                <p><%= error.msg %> </p>
          <% }) %>
        </div>
    <% } %>

    <form action="/productos" method="POST" id="form" enctype="multipart/form-data">
      <div class="product-detail">
        <div id="grupo_name">
          <label for="name" class="form-label">Nombre del producto:</label>
          <input type="text" id="name" name="name" placeholder="Ej: Jean...XX" class="form-input">
         <i style="display: none;"></i>
          <p class="formulario-error">Escriba un nombre valido.</p>
        </div>
        <div id="grupo_price">
          <label for="price" class="form-label">Precio del producto:</label>
          <input type="number" id="price" name="price" placeholder="Ej: 5678" class="form-input">
          <i style="display: none;"></i>
          <p class="formulario-error">Escriba un número entero sin puntos ni comas.</p>
        </div>
        
          <div id="grupo_sale">
          <label for="sale" class="form-label">Descuento:</label>
          <input type="number" id="sale" name="sale" placeholder="Ej: 15" class="form-input">
          <i style="display: none;"></i>
          <p class="formulario-error">Escriba un número entre 0 y 99</p>
        </div>
        <div >
          <label for="talles" class="form-label">Talles:</label> 
          <div class="contenedor-talles">
          <% talles.forEach(element => { %>
            <input type="checkbox" name="talles" value="<%=element.id  %> " ><%= element.talles %> |
            <% }) %>
        </div>
        </div>
        
        <div >
          <label for="category" class="form-label">Categoría:</label>
          <select name="category" id="category" class="form-input">
            <option value=""> Seleccionar categoría </option>
              <% categoriasFill.forEach(element => { %>
                <option value="<%= element.id %>"> <%= element.name %> </option>
              <% }) %>
          </select>
        </div>
        <div >
          <label for="newCollection" class="form-label">¿New Collection?</label>
          <select name="newCollection"  class="form-input">
            <option value="">Elegí</option>
              <option value="1">Sí</option>
              <option value="0">No</option>
          </select>
        </div>
        <div id="grupo_stock" >
          <label for="stock" class="form-label">Stock:</label>
          <input type="number" id="stock" name="stock" placeholder="Ej: 15" class="form-input">
          <i style="display: none;"></i>
          <p class="formulario-error">Escriba un número entero sin puntos ni comas</p>
        </div>
        <div>
          <label for="image" class="form-label">Imagen:</label>
          <input type="file" name="image" id="image" class="form-input create-img" multiple>
        </div>
        <div class="create-descripcion">
          <label for="description" class="form-label">Descripción:</label>
          <textarea name="description" id="description" class="form-input"></textarea>
        </div>

        <div class="create-boton" >
          <button type="submit" class="submit-contacHome">Guardar producto</button>
        </div>
      </div>
    </form>
  </div>

</div>


 
      </main>
<%- include('partials/footer.ejs') %>
</body>
<%- include('partials/scriptNav.ejs') %>
</html>