<%- include('partials/head.ejs') %>
<%- include('partials/headProductAdd.ejs') %>
<%- include('partials/header.ejs') %>
<div class="contenedorFormulario">
    <div >
      <h2 class="products-title">Formulario de creación de productos</h2>
    </div>
  <div >
    <form action="/productos" method="POST">
      <div class="product-detail">
        <div >
          <label for="name" class="form-label">Nombre del producto:</label>
          <input type="text" id="name" name="name" placeholder="Ej: Jean...XX" class="form-input">
        </div>
        <div >
          <label for="price" class="form-label">Precio del producto:</label>
          <input type="number" id="price" name="price" placeholder="Ej: 5678" class="form-input">
        </div>
        <div >
          <label for="sale" class="form-label">Descuento:</label>
          <input type="number" id="sale" name="sale" placeholder="Ej: 15" class="form-input">
        </div>
        <div >
          <label for="talles" class="form-label">Talles:</label> 
          <div class="contenedor-talles">
          <input type="checkbox" name="talle" value="38" >38 |
          <input type="checkbox" name="talle" value="40" >40 |
          <input type="checkbox" name="talle" value="42" >42 |
          <input type="checkbox" name="talle" value="44" >44 |
          <input type="checkbox" name="talle" value="46" >46 |
          <input type="checkbox" name="talle" value="48" >48 |
          <input type="checkbox" name="talle" value="50" >50
        </div>
        </div>
        
        <div >
          <label for="category" class="form-label">Categoría:</label>
          <select name="category" id="category" class="form-input">
            <option value=""> Seleccionar categoría </option>
              <% categoriasFill.forEach(element => { %>
                <option value="<%= element %>"> <%= element %> </option>
              <% }) %>
          </select>
        </div>
        <div >
          <label for="newCollection" class="form-label">¿New Category?</label>
          <select name="newCollection"  class="form-input">
            <option value="">Elegí</option>
              <option value=true>Sí</option>
              <option value=false>No</option>
          </select>
        </div>
        <div >
          <label for="stock" class="form-label">Stock:</label>
          <input type="number" id="stock" name="stock" placeholder="Ej: 15" class="form-input">
        </div>
        <div>
          <label for="image" class="form-label">Imagen:</label>
          <input type="file" name="image" id="image" class="form-input create-img">
        </div>
        <div class="create-descripcion">
          <label for="description" class="form-label">Descripción:</label>
          <textarea name="description" id="description" class="form-input"></textarea>
        </div>

        <div class="create-boton" >
          <button type="submit" class="submit-contacHome">Guardar producto</button>
        </div>
      </div>
    </form>
  </div>

</div>


 
      </main>
<%- include('partials/footer.ejs') %>
</body>
<%- include('partials/scriptNav.ejs') %>
</html>