<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>
<main>
       
        <section class="carrusel-productosPersonalizados flex-colum ">
                <div>
                        <h2>Todos los productos</h2>
                </div>
                <div class="contenedor-productos contenedor-productosTotal flex-colum">
                        <% products.forEach((producto, index) => { %>
                                <!-- producto  -->
                <% if (producto.stock >= 1 ) {
                        let finalPrice = producto.price - (producto.price * producto.sale / 100);
                        %>    
                        <div class="cajas-productosPersonalizados cajas-productosPersonalizadosTotal  flex-colum ">
                                                                <a href="/productos/detalle/<%= producto.id %>">
                                                                <div class="img-producto">
                                                                        <img src="/images/productos/<%= producto.image %>" alt="<%= producto.name %>" title="<%= producto.name %>">
                                                                </div> 
                                                                <div class="descripcion ">
                                                                        <h3 class="descripciones-productos"><%= producto.name %></h3>
                                                                        <p class="precios">$ <%= toThousand(finalPrice.toFixed(0)) %></p>
                                                                        <% if(producto.sale > 0) { %>
                                                                                <span class="sale"><%= producto.sale %> % OFF</span>
                                                                                <% } %>
                                                                        <i class="fas fa-truck camion"></i>
                                                                </div> 
                                                        </a>
                                                                <div class="descripcion2">
                                                                        <a href="/productos/detalle/<%= producto.id %>"><button class="btn btn-success btn-md my-0 p mb-2">Ver Producto</button> </a>
                                                                        <button class="btn btn-success btn-md my-0 p agregar_carrito"  data-id="<%= producto.id %> " >Agregar al Carrito</button>

                                                                </div>

                                                        </div>
                <% } %>
                <%  })%>

                </div>


        </section>
        <%- include('partials/pagination.ejs') %>
</main>
<%- include('partials/footer.ejs') %>
</body>

<%- include('partials/scriptNav.ejs') %>
</html>