<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main class="profile">
        <div class="main-profile">
        <h3>¡Hola <%=  user.fullName %>!</h3>
        
        <div class="div-avatar">
            <img src="/images/avatar/<%= user.avatar %>" alt="" class="user-image">
        </div>
        <div class="div-profile">
            <input type="text" value="<%= user.usuario %>" class="form-profile" readonly>
            <span class="icon-profile"><i class="fas fa-user"></i></span>
        </div>
        <div class="div-profile">
            <input type="email" value="<%= user.email %>" class="form-profile" readonly>
            <span class="icon-profile"><i class="fas fa-envelope"></i></span>
        </div>

        <div  class="buttons-profile">
        <div class="div-edit-profile">
            <a href="/user/edit/<%= user.id %>">Actualizar perfil</a>
        </div>
        <div class="div-delete-profile">
            <form action="/user/<%= user.id %>?_method=DELETE" method="POST" > <button type="submit"  title="delete" name="ELIMINAR">Eliminar cuenta  </button></form>
        </div>
    </div>
    </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>