<%- include('partials/head.ejs') %>
<%- include('partials/headLogin.ejs') %>
<%- include('partials/header.ejs') %>
 <main class="profile">
        <div class="main-profile main-login">



                    <form action="/user/login" method="POST" id="formLogin"  class="div-containProfile center-flexProfile containLogin">
                        <h2>Iniciar sesión</h2> 
                        <% if (locals && locals.mensajesDeError) { %>
                            <div class="erorr">
                                <% mensajesDeError.forEach(error => { %>
                                      <p><%= error.msg %> </p>
                                <% }) %>
                              </div>
                          <% } %>
                    <div class="div-profile">
                        
                            <input type="email" name="email" placeholder="Ingrese su email"  class="form-profile focus-none"   title="Usuario"  value="<%= locals.oldData && oldData.email ? oldData.email : '' %>" >
                            <label for="email"></label>
                            <span class="icon-profile"><i class="fas fa-envelope"></i></span>
                        </div>
                
                    <div class="div-profile">
                            <label for="password"></label>
                            <input type="password" name="password"  placeholder="Ingrese su contraseña"  class="form-profile focus-none"   title="Email" id="password">
                            <span class="icon-profile" id="showPassword"><i class="fas fa-eye iconPassword"></i></span>
                     </div>
                     <div class="div-profile gap10">
                     <label for="rememberUser">Recuérdame</label>
                     <input type="checkbox" name="rememberUser" checked> 
                    </div>
                     <div  class="buttons-profile">
                        <div class="div-edit-profile">
                            <button type="submit" title="Ingresar" name="Ingresar" class="submit-contacHome">Ingresar</button>
                        </div>
                    </div>
                        <div class="div-linksLogin" >
                            <div>
                            <a href="/user/resetPassword" class="hoverText"><h2>Olvide mi contraseña</h2></a>
                        </div>
                        <div>
                            <a href="/user/register"class="hoverText"><h2>¿No tienes cuenta? ¡Crea tu cuenta ahora!</h2></a>
                        </div>
                        </div>
                        

                
       
             </div>
            </div>

    </main>
      
        
 <%- include('partials/footer.ejs') %>
</body>

<%- include('partials/scriptNav.ejs') %>



</html>