<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main class="profile">
        <div class="main-profile">
                       <h2>¡Hola <%= user.fullName %> !</h2> 
                     <div class="div-avatar">
                    <img src="/images/avatar/<%= user.avatar %>" alt="Avatar" title="Avatar de <%= user.fullName %>"   class="user-image">
                    </div>

            <div class="div-containProfile center-flexProfile">
                <% if (locals && locals.mensajeExitoso) { %>
                    <div class="error exitoso" >
                        <% mensajeExitoso.forEach(error => { %>
                              <p><%= error.msg %> </p>
                        <% }) %>
                      </div>
                  <% } %>
                  <% if (locals.userAdmin) { %>
                    <label class="label bg-olive">ADMIN</label>
                    <a target="__BLANK" href="http://localhost:3000/" class="label bg-olive">  Ir al Dashoard </a>
                    <% } %>
                    <div class="div-profile">
                            <input type="text" name="usuario" value="<%= user.usuario  %>" class="form-profile focus-none"  readonly title="Usuario">
                            <span class="icon-profile"><i class="fas fa-user"></i></span>
                        </div>
                
                    <div class="div-profile">
                            <input type="email" name="email" value="<%=  user.email   %>" class="form-profile focus-none"  readonly title="Email">
                            <span class="icon-profile"><i class="fas fa-envelope"></i></span>
                     </div>
                     <div  class="buttons-profile">
                        <div class="div-edit-profile">
                            <a href="/user/edit/<%= user.id %>" title="Actualizar perfil">Actualizar perfil</a>
                        </div>
                        <div class="div-delete-profile">
                            <form action="/user/<%= user.id %>?_method=DELETE" method="POST" > <button type="submit"  title="Eliminar" name="Eliminar">Eliminar cuenta  </button></form>
                        </div>
                    </div>
       
             </div>
             <div class="card mb-5">
                <div class="card-header">
                    Mis Pedidos
                </div>
                <div class="card-body">
                    <table class="table table-responsive-md mb-0">
                        <thead>
                            <tr>
                                <th style="width: 50px;">
                                    <strong>#</strong>
                                </th>
                                <th class="th-lg">
                                    <strong>Fecha</strong>
                                </th>
                                <th class="th-lg">
                                    <strong>Envío</strong>
                                </th>
                                <th class="th-lg">
                                    <strong>Pago</strong>
                                </th>
                                <th>
                                    <strong>Total</strong>
                                </th>
                                <th style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach((order,index)=> { %>
                                <tr>
                                    <th scope="row">
                                        <%= index + 1 %>
                                    </th>
                                    <td>
                                        <%= new Intl.DateTimeFormat('es-ES', { year: 'numeric' , month: 'numeric' ,
                                            day: '2-digit' ,hour: 'numeric' , minute: 'numeric'
                                            }).format(order.createdAt) %>
                                    </td>
                                    <td>
                                        <%= order.shippingMethod %>
                                    </td>
                                    <td>
                                        <%= order.paymentMethod %>
                                    </td>
                                    <td>$ <%= toThousand(Number(order.total)) %>
                                    </td>
                                    <td><a class="btn btn-warning btn-sm" href="<%= `/user/order/${order.id}` %> "><i
                                                class="fas fa-eye"></i></a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            </div>



    </main>
    <%- include('partials/footer') %>
</body>
</html>